<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anqili.application.dao.CourseDao">
	<resultMap id="CourseResultMap" type="com.anqili.application.bean.Course" >
    	<id property="courId" column="id" />
        <result property="courName" column="name" />
        <result property="courCode" column="code" />
        <result property="courSize" column="size" />
        <result property="year" column="year" />
    </resultMap>
    
    <!-- Select all courses -->
    <select id="selectAllCourse" resultMap="CourseResultMap">
    	select * from course order by year;
    </select>
    
    <!-- Select a course by ID -->
    <select id="selectCourseById" resultMap="CourseResultMap">
    	select * from course where id = #{courId};
    </select>
    
    <!-- Select course by year -->
    <select id="selectCourseByYear" resultMap="CourseResultMap">
    	select * from course where year = #{year} order by size desc;
    </select>
    
    <!-- Update a course by ID -->
    <update id="updateCourse" parameterType="Course">
    	update course
    	set name = #{courName}, code = #{courCode}, size = #{courSize}, year = #{year}
    	where id = #{courId};
    </update>
    
    <!-- delete a course by ID -->
    <delete id="deleteOneCourse">
    	delete from course where id = #{courseId};
    	delete from subject_course where courseId = #{courseId};
    </delete>
    
    <!-- Insert a new course -->
    <insert id="insertCourse" parameterType="Course">
    	insert into course (name, code, size, year) value (#{courName}, #{courCode}, #{courSize}, #{year});
    </insert>
</mapper>